.toolbar-row{
    margin: 0 auto;
    margin-bottom: 15px;
}

.available-project,.selected-project{
    margin: 10px;
    background-color: beige;
    width: 100%;
    height: 35px;
    cursor: -webkit-grab;
    border-radius: 5px;
}

.available-project:hover,.selected-project:hover{

    background-color: rgb(216, 216, 148);
}

.limit-width{
    max-height: 500px;
    overflow-y: scroll;
}

.header-title{
    margin-bottom: 15px;
}