<div *ngIf="isDataReady; else elseBlock">

  <div class="card  toolbar-row mw-100">
    <div class="card-body ">

      <div class="form-row align-items-center">
        <div class="col-sm-3">
          <button id="list " [ngClass]="{ 'btn-warning' : isDataChanged , 'btn-secondary' : !isDataChanged }" class="btn btn-warning "
            data-original-title="Clear " [disabled]="!isDataChanged" (click)="onRevert() ">
            <i class="fa fa-undo" aria-hidden="true "></i>Revert</button>
        </div>
        <div class="col-sm-3">
          <button id="list " class="btn " data-original-title="Save " [ngClass]="{ 'btn-success' : isDataChanged , 'btn-secondary' : !isDataChanged }"
            [disabled]="!isDataChanged" (click)="onSave() ">
            <i class="fa fa-floppy-o " aria-hidden="true "></i>Save</button>
        </div>
        <div class="col-sm-6">
          <!-- <select class="custom-select " [ngModel]="selectedUser" (ngModelChange)="onSelectionChanged($event)" name="Select name">
            <option *ngFor="let user of users" [ngValue]="user">{{user.Name}}</option>
          </select> -->

          <p-dropdown [options]="users|selectItemPipe:'Name'" [(ngModel)]="selectedUser" (onChange)="onSelectionChanged($event.value)"
            placeholder="Select a City" [showClear]="false" filter="true" filterBy="label,value.LastName" [style]="{'width':'300px'}">
            <ng-template let-user pTemplate="selectedItem">

              <span style="vertical-align:middle; margin-left: .5em">{{user.value.Name}} - {{user.value.LastName}}</span>
            </ng-template>
            <ng-template let-user pTemplate="item">
              <div class="ui-helper-clearfix" style="position: relative;height: 25px;">

                <div style="font-size:14px;float:right;margin-top:4px">{{user.value.Name}} - {{user.value.LastName}}</div>
              </div>
            </ng-template>
          </p-dropdown>
    
        </div>
      </div>

    </div>
  </div>



  <div class="row ">
    <div class="col-sm-12 col-md-6 ">
      <div class="card" (onDrop)="projectDropBack($event)" pDroppable="projectBack">
        <div class="card-header ">

          <div class="header-title">
            Available Projects
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="searchAvailable"> <i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" id="search" [(ngModel)]="searchAvailable" autocomplete="off">
          </div>

        </div>
        <div class="card-body limit-width">
          <div *ngFor="let project of availableProject | filterProjectByName:searchAvailable" class="available-project"
            pDraggable="project" (onDragStart)="projectDragStart($event,project)" (onDragEnd)="userDragEnd($event)"
            (click)="userSelected(project)">

            {{project.Name}}</div>

        </div>
      </div>
    </div>
    <div class=" col-sm-12 col-md-6 ">
      <div class="card " (onDrop)="projectDrop($event) " pDroppable="project">
        <div class="card-header ">
          <div class="header-title">
            Selected Projects
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="searchSelected"> <i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" id="search" [(ngModel)]="searchSelected" autocomplete="off">
          </div>
        </div>
        <div class="card-body  limit-width">

          <div *ngFor="let project of selectedProject | filterProjectByName:searchSelected" class="selected-project"
            (onDragStart)="projectDragStart($event,project)" (onDragEnd)="userDragEnd($event)" pDraggable="projectBack"
            (click)="userRemoved(project)">
            {{project.Name}}
          </div>


        </div>
      </div>
    </div>
  </div>

</div>
<ng-template #elseBlock>
  <app-animated-loading></app-animated-loading>
</ng-template>