<select [(ngModel)]="selectedValue">
  <option *ngFor="let user of users" [ngValue]="c">{{user.Name}}</option>
</select>

<div class="container">
  <div class="row">
    <div class="column col-sm-12 col-md-6"    (onDrop)="userDropBack($event)"    pDroppable="usersBack">
      <div *ngFor="let project of availableProject" class="available-project" style="height: 25px;cursor: -webkit-grab;" 
      pDraggable="project"    (onDragStart)="userDragStart($event,project)" 
     (onDragEnd)="userDragEnd($event)" (click)="userSelected(project)">
      {{project.Name}}</div>
    </div>
    <div class="column col-sm-12 col-md-6"  pDroppable="users"   (onDrop)="userDrop($event)"    >
      <div *ngFor="let project of selectedProject"   class="selected-project" (onDragStart)="userDragStart($event,project)"
       (onDragEnd)="userDragEnd($event)"  
         pDraggable="usersBack"   (click)="userRemoved(project)" style="height: 25px">{{project.Name}}</div>
    </div>
  </div>
</div>