<div *ngIf="isDataReady; else elseBlock">
  <!-- Tools panel -->
  <div class="row">
    <div class="card toolbar-card">
      <div class="card-body row float-none">

        <div class="col-4 col-sm-4 col-md-2 ">
          <button id="list " [ngClass]="{ 'btn-warning' : isDataChanged , 'btn-secondary' : !isDataChanged }" class="btn btn-warning "
            [disabled]="!isDataChanged" (click)="onRevert() ">
            <i class="fa fa-undo" aria-hidden="true "></i><span class="d-none d-sm-inline">{{ translateWorld('revert')
              | translate}}</span></button>
        </div>
        <div class="col-4 col-sm-4 col-md-2">
          <button id="list " class="btn " [ngClass]="{ 'btn-success' : isDataChanged , 'btn-secondary' : !isDataChanged }"
            [disabled]="!isDataChanged" (click)="onSave() ">
            <i class="fa fa-floppy-o " aria-hidden="true "></i><span class="d-none d-sm-inline">{{
              translateWorld('save') | translate}}</span></button>
        </div>
        <div class="col-4 col-sm-4 col-md-2">
          <button id="list " class="btn btn-primary" (click)="onEditClicked()">
            <i class="fa fa-plus-circle" aria-hidden="true "></i><span class="d-none d-sm-inline">{{
              translateWorld('new') | translate}}</span></button>
        </div>
        <div class="col-12 col-sm-12 col-md-6">

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2"> <i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" id="search" placeholder="Search project name" [(ngModel)]="search" autocomplete="off">
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Data Table -->
  <div class="row">
    <div class="card">
      <div class="card-header">
        {{translateWorld('projects managment') | translate}}
      </div>


      <div class="card-body mw-100">
        <p-table [value]="projects | filterProjectByName:search" [responsive]="true">
          <ng-template pTemplate="header">
            <tr>
              <th class="ui-p-2 edit">{{translateWorld('edit') | translate}} </th>
              <th class="ui-p-3 name">{{translateWorld('name') | translate}}</th>
              <th class="ui-p-3 category">{{translateWorld('category') | translate}}</th>
              <th class="ui-p-3 active">{{translateWorld('active') | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-project>
            <tr>
              <td class="ui-p-2">
                <i id="btn-row-delete" class="btn btn-outline-danger fa fa-trash btn-hover" aria-hidden="true" (click)="onDeleteClicked(project)"></i>
              </td>
              <td class="ui-p-3">
                <input class="form-control is-invalid" #inputName="ngModel" autocomplete="off" (change)="onChange(project)"
                  [ngClass]="{'is-invalid': !(inputName.valid), 'is-valid': inputName.valid }" id="name" name="name"
                  [(ngModel)]="project.Name" required />

                <small id="passwordHelpBlock" class="invalid-feedback" [ngClass]="{'d-invalid':!inputName.valid}">
                  This filed is requred
                </small>

              </td>

              <select class="custom-select " [(ngModel)]="project.CategoryID" (change)="onChange(project)">
                <option *ngFor="let category of categories " [ngValue]="category.CategoryID">
                  {{category.Name}}
                </option>
              </select>
              <td class="ui-p-3">
                <input type="checkbox" name="isActive" class="form-control" id="isActive" [(ngModel)]="project.IsActive"
                  (change)="onChange(project)" />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>




</div>

<!-- ------------- [Loading Animation] -------------- -->
<ng-template #elseBlock>
  <app-animated-loading *ngIf="!isDataLodingFailed"></app-animated-loading>
  <div *ngIf="isDataLodingFailed" class="">
    <div class="alert alert-danger" role="alert">
      <strong>{{'Loading Data Failed'}}</strong>
    </div>
  </div>
</ng-template>

<!-- ------------- [Dialog - Edit] -------------- -->
<app-dialog-edit-project [display]="displayEditDialog" (display)="displayDialogResults($event)" [project]="projectToEdit"
  [categories]="categories"></app-dialog-edit-project>
<!-- ------------- [Dialog - Confirm Delete] -------------- -->

<p-dialog header="Confirm Delete" [(visible)]="displayConfirmDeleteDialog" [responsive]="true" showEffect="fade"
  [modal]="true" [width]="300">
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button type="button" pButton icon="fa fa-close" (click)="cancelDelete()" label="Cancel"></button>
    <button type="button" pButton icon="fa fa-check" (click)="delete()" label="Delete"></button>
  </div>
</p-dialog>