.toolbar-card
{
    margin-left: auto;
    margin-right: auto ;
}

th-delete {
    width: 10%;
    background-color: aquamarine;

}

th-IsActive {
    width: 10%
}

.big-checkbox {width: 30px; height: 30px;}