.profile-card{
   width: 200px;
   height:  47px;
   border-radius: 10px;
   background-color: floralwhite;
   border: 1px solid rgb(1, 77, 26);
  
}

.profile-pic {
    grid-area: pic;
}

.profile-pic img {
    max-height: 40px;
}
