<!-- <select [(ngModel)]="selectedValue">
  <option *ngFor="let project of projects" [ngValue]="c">{{project.Name}}</option>
</select> -->

<div class="row toolbar-row">

  <div class="card btn-toolbar" >
            <div class="card-body ">
          
                <div class="form-row align-items-center">
                    <div class="col-sm-3 my-1">
                        <button id="list " class="btn btn-warning " data-original-title="Clear " (click)="onClear() ">
                            <i class="fa fa-trash-o " aria-hidden="true " ></i>Clear</button>
                    </div>
                    <div class="col-sm-3 my-1">
                        <button id="list " class="btn " data-original-title="Save "
                        [ngClass]="{ 'btn-success' : isDataChanged , 'btn-secondary' : !isDataChanged } " (click)="onSave() ">
                          <i class="fa fa-cloud-upload " aria-hidden="true "  ></i>Save</button>
                    </div>
                    <div class="col-auto my-1">
                        <select  class="custom-select " [(ngModel)]="name " name="Select name" > 
                            <option *ngFor="let project of projects " [attr.value]="project.ProjectID ">{{project.Name}}</option>
                          </select>
                    </div>
                  </div>


                 
              
            
                  
                 
           
            </div>
    </div> 
  </div>


<div class="row ">
  <div class="col-sm-12 col-md-6 ">
    <div class="card ">
      <div class="card-header ">
        Users Available
      </div>
      <div class="card-body " (onDrop)="userDropBack($event) " pDroppable="usersBack ">
        <div *ngFor="let user of availableUsers " class="row available-user " style="cursor: -webkit-grab;
    " pDraggable="users " (onDragStart)="userDragStart($event,user) "
          (onDragEnd)="userDragEnd($event) " (click)="userSelected(user) ">
          <app-select-user-card [profile]='user' [selected]="false "></app-select-user-card>

        </div>
      </div>
    </div>
  </div>
  <div class=" col-sm-12 col-md-6 ">
    <div class="card ">
      <div class="card-header ">
        Users Selected
      </div>
      <div class="card-body " pDroppable="users " (onDrop)="userDrop($event) ">
        <div *ngFor="let user of selectedUsers " style="cursor: -webkit-grab; " (onDragStart)="userDragStart($event,user)
    " (onDragEnd)="userDragEnd($event) "
          pDraggable="usersBack " (click)="userRemoved(user) ">
          <app-select-user-card [profile]='user' [selected]="true "></app-select-user-card>
        </div>

      </div>
    </div>
  </div>
</div>