<div *ngIf="isDataReady; else elseBlock">

  <div class="card  toolbar-row mw-100">
    <div class="card-body ">

      <div class="form-row align-items-center">
        <div class="col-sm-3 ">
          <button id="list " [ngClass]="{ 'btn-warning' : isDataChanged , 'btn-secondary' : !isDataChanged }" class="btn btn-warning "
            data-original-title="Clear " [disabled]="!isDataChanged" (click)="onRevert() ">
            <i class="fa fa-undo" aria-hidden="true "></i>Revert</button>
        </div>
        <div class="col-sm-3 ">
          <button id="list " class="btn " data-original-title="Save " [ngClass]="{ 'btn-success' : isDataChanged , 'btn-secondary' : !isDataChanged }"
            [disabled]="!isDataChanged" (click)="onSave() ">
            <i class="fa fa-floppy-o " aria-hidden="true "></i>Save</button>
        </div>
        <div class="col-sm-6">
          <select class="custom-select " [ngModel]="selectedProject" (ngModelChange)="onSelectionChanged($event)" name="Select name">
            <option *ngFor="let project of projects " [ngValue]="project">{{project.Name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>



  <div class="row ">
    <div class="col-sm-12 col-md-6 ">
      <div class="card "  (onDrop)="userDropBack($event) " pDroppable="usersBack">
        <div class="card-header ">
          Available Users
        </div>
        <div class="card-body ">
          <div *ngFor="let user of availableUsers " class="row available-user " style="cursor: -webkit-grab;"
            pDraggable="users" (onDragStart)="userDragStart($event,user) " (onDragEnd)="userDragEnd($event) " (click)="userSelected(user) ">
            <app-select-user-card [profile]='user' [selected]="false "></app-select-user-card>

          </div>
        </div>
      </div>
    </div>
    <div class=" col-sm-12 col-md-6 ">
      <div class="card " pDroppable="users" (onDrop)="userDrop($event) ">
        <div class="card-header ">
          Selected Users
        </div>
        <div class="card-body " >
          <div *ngFor="let user of selectedUsers " style="cursor: -webkit-grab; " (onDragStart)="userDragStart($event,user)
          "
            (onDragEnd)="userDragEnd($event) " pDraggable="usersBack" (click)="userRemoved(user) ">
            <app-select-user-card [profile]='user' [selected]="true "></app-select-user-card>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>




<ng-template #elseBlock>
  <app-animated-loading></app-animated-loading>
</ng-template>