<p-dialog header="Project Details" [(visible)]="displayDialog" [responsive]="true"
 showEffect="fade" [modal]="true" [width]="300" (onHide)="onHided()">


  <form novalidate>

      <div class="form-group row">
        <label for="name"  class="col-sm-3 col-form-label">Name: </label>
        <div class="col-sm-9" class="is-invalid">
          <input class="form-control is-invalid"   #inputName="ngModel"
                [ngClass]="{'is-invalid': !(inputName.valid), 'is-valid': inputName.valid }" id="name" name="name" 
                [(ngModel)]="_project.Name" required />
      
          <small id="passwordHelpBlock"  class="invalid-feedback"  [ngClass]="{'d-invalid':!inputName.valid}">
            This filed is requred
          </small>
        </div>
      </div>
   
      
      <div class="form-group row" #categ >
        <label for="name"  class="col-sm-3 col-form-label">Category:  </label>
        <div class="col-sm-9" class="is-invalid">
          <select  [(ngModel)]="_project.CategoryID" name="category">
            <option *ngFor="let category of categories" [ngValue]="category.CategoryID">
                {{category.Name}}
            </option>
           </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="isActive" class="col-sm-6 col-form-label">Is Active</label>
        <div class="col-sm-3">
          <input type="checkbox" name="isActive" class="form-control" id="isActive" [(ngModel)]="_project.IsActive" />
        </div>
      </div>




  </form>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="clickedCancel()" label="Cancel"></button>
      <button pButton icon="fa fa-check" (click)="clickedOk()" [label]="isNewCategory()? 'Create' : 'Save'"></button>
    </div>
  </p-footer>
</p-dialog>