
.ui-table-caption{
    background-color: #435d7d !important; 
}

.edit-tools .btn{
    color: aliceblue;
}

.row {
    margin: 15px 0;
}


.name {
    width: 50%;
}
.active{
    width: 40%;
}

th.ui-p-6,  td.ui-p-6,{
    width: 10%;
}
