.selection-section{
    margin:  0  0 15px  0;
}



input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.selected-item {

    background-color: #60ac92 !important;
    color: #f0f1f4;
}
.selected-item  span{
  color: #f0f1f4 !important;
}
