<div class="ui-g-12 ui-md-12">
  <h3>Icon</h3>
  <a class="btn" (click)="nextDate()" >
    <i class="fa fa-caret-square-o-left fa-2x"></i> 
  </a>

  <p-calendar [(ngModel)]="selectedDate" [showIcon]="true" dateFormat="dd.mm.yy"></p-calendar>
  <span style="margin-left:35px">{{date3|date}}</span>
  <a class="btn"  (click)="prevDate()" >
     <i class="fa fa-caret-square-o-right fa-2x"></i>
  </a>
</div>
<!-- Regisration Form -->
<form (ngSubmit)="onSubmit()">
  . . .
  <button type="submit" class="btn btn-primary">Submit</button>
</form>